<% status=instanceValueSet.getStringParameter("Status", :upcase=>true) %>
<div class="span-24 last">
<div class="span-12">
  <h3>Spectrum</h3>
  <% if status=="ON/TRUE" %>
  <%= displayParameter(instanceValueSet,"Spectrum",{:width=>450,:height=>300,:withExport=>true}) %>
  <% end %>
</div>
<div class="span-12 last">
  <h3>Aquisition Parameters</h3>
  <ul>
    <li>Integration time: <%= displayParameter(instanceValueSet,"Integration Time") %></li>
    <li>Trigger mode: <%= displayParameter(instanceValueSet,"Triggermode",{:precision=>0}) %></li>
    <li>Device Status: <%= displayParameter(instanceValueSet,"Status") %></li>
  </ul>
</div>
</div>
