<h1>Welcome to the PHELIX shot database, <%= @user.realname %></h1>
A user account has been set up in order to access the PHELIX shot database:
<ul>
  <li>Login: <%= @user.login %></li>
  <li>Password: <%= @password %></li>
</ul>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
