<% axisNames=instanceValueSet.getAxesNumbers() %>
<div id="tabs">
  <ul>
  <% axisNames.each do |axisName| %>
    <li><a href="#<%= axisName.tr(" ,","") %>" ><%= axisName %></a></li>
  <% end %>
  </ul>
  <% axisNames.each do |axisName| %>
    <div id="<%= axisName.tr(" ,","") %>">
      <%= render 'instancevaluesets/PH_AxisGUI_6P/axis', 
          :instanceValueSet=> instanceValueSet, :axisName=> axisName %>
    </div>
  <% end %>
</div>
