<h1>About PSDB</h1>
<p>
PSDB (PHELIX shot database) is the shot documentation system of PHELIX (Petwatt High Energy Laser for heavy Ion eXperiments) located at GSI Helmholtzzentrum fur Schwerionenforschung in Darmstadt / Germany. Further information can be found <%= link_to "here","http://www.gsi.de/forschung/pp/phelix/index.html" %> .</p>
<p>
Further contact:
<ul>
  <li>PHELIX: V. Bagnoud</li>
  <li>PSDB: U. Eisenbarth</li>
<ul>
</p>

