<h1>Version history</h1>
<ul>
  <li>0.5 (?): </li>
  <ul>
    <li>converted application to Rails 3.1 and make use of the new asset pipeline (=performance improvement.</li>
    <li>automatic documentation of the application's API using the URL: http://hostname/apidoc/</li>
    <li>fixed bug in views for OceanOptics Spectrometers for the case that no spectrum was delivered.</li>
    <li>fixed bug while displaying numeric values for the case the database field is empty (=NaN).</li>
    <li>added/improved views for the classes
      <ul>
        <li>PH_Sixpack_Switch</li>
        <li>SRDG535</li>
        <li>PH_AxisGUI_6P</li>
        <li>PH_Waveplate-GUI_6P</li>
        <li>PH_Sixpack</li>
        <li>PH_Calorimeter_USB</li>
      </ul>
    <li>show colour bit depth for images and warn if a 16 bit image is exported to a file format which
        only supports 8 bit.</li>
    <li>flashlamp voltages are displayed in kV on shot index page.</li>
    <li>added display of fsFE waveplate angle on shot index page.</li>
    <li>added type of environment the application is running on (test/development/production) on statistics page.</li>
    <li>class types and subsystems are now displayed in alphabetical order for a shot.</li>
    <li>added possibility to mark a shot as "failed". It is then displayed with a red font colour on the shot index. page.</li>
  </ul>
  <li>0.4 (02.09.11):</li>
  <ul>
    <li>fixed bug in shot list caching which lead to a code cleanup.</li>
    <li>added support for project-specific costumization of shot index page.</li>
    <li>optimized table lyout of shot index page.</li>
    <li>added online API documentation.</li>
    <li>restricted library dependencies to Rails 3.0.x</li>
    <li>improved filtering of shot data by subsystem and class type.</li>
    <li>added detailed views for PPPA and PPMA classes.</li>
  </ul>
  <li>0.3 (26.08.11):</li>
  <ul>
    <li>shots index page now shows all flashlamp voltages.</li>
    <li>shots index page uses some data caching for faster loading.</li>
    <li>added new view for BNC555 gate/delay generator class.</li>
    <li>fixed problems while parsing the "micro" prefix in the value units. This also fixes
        errors while plotting shot series.</li>
    <li>fixed wrong display of on/off status of mercury sensor.</li>
    <li>performance inprovements in experiments and shots index lists through database preloading.</li>
    <li>various code cleanups.</li>
    <li>powermeter values are now rounded to two significant digits.</li>
    <li>small changes in the database layout which were necessary for projects other than PHELIX.</li>
    <li>fixed some small errors while displaying boolean values.</li>
    <li>many further unit tests added.</li>
  </ul>
  <li>0.2alpha (19.07.11):</li>
  <ul>
    <li>added support for MySQL databases.</li>
    <li>added support for project-specific customizations (such as own disclaimer or logo).</li>
    <li>added general password protection.</li>
    <li>easier installation using configuration script.</li>
    <li>statistics page now also calculates database statistics.</li>
    <li>several new class-specific views (such as ImageOperator, CurrentMeasurement, MercuryMonitor, etc...) added.</li>
    <li>2-dimensional data such as spectra or current curves can be exported as CSV file.</li>
    <li>images can now be saved as greyscale image or with rainbow palette applied.</li>
    <li>added plot of a numerical parameter for a series of shots.</li>
    <li>improved icon sets.</li>
    <li>added favicon for browser.</li>
    <li>improved layout of toplevel menu.</li>
    <li>tons of bugfixes</li>
  </ul>
  <li>0.1alpha (10.06.11):</li>
  <ul>
    <li>intial development version.</li>
  </ul>
</ul>

