<h1>Version history</h1>

<ul>
  <li>0.2alpha (19.07.11):</li>
  <ul>
    <li>added support for MySQL databases.</li>
    <li>added support for project-specific customizations (such as own disclaimer or logo).</li>
    <li>added general password protection.</li>
    <li>easier installation using configuration script.</li>
    <li>statistics page now also calculates database statistics.</li>
    <li>several new class-specific views (such as ImageOperator, CurrentMeasurement, MercuryMonitor, etc...) added.</li>
    <li>2-dimensional data such as spectra or current curves can be exported as CSV file.</li>
    <li>images can now be saved as greyscale image or with rainbow palette applied.</li>
    <li>added plot of a numerical parameter for a series of shots.</li>
    <li>improved icon sets.</li>
    <li>added favicon for browser.</li>
    <li>improved layout of toplevel menu.</li>
    <li>tons of bugfixes</li>
  </ul>
  <li>0.1alpha (10.06.11):</li>
  <ul>
    <li>intial development version.</li>
  </ul>
</ul>

