<ul>
  <li>Motor Type: <%= displayParameter(instanceValueSet,"Axis  #{axis}: Motor Type") %></li>
  <li>Position: <%= displayParameter(instanceValueSet,"Axis  #{axis}: Position") %></li>
  <li>Calibration Factor: <%= displayParameter(instanceValueSet,"Axis  #{axis}: Calibration Factor") %></li>
  <li>Sign Change?: <%= displayParameter(instanceValueSet,"Axis  #{axis}: Sign Change?") %></li>
</ul>
