// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signin { 
  text-align: center
}
#loginform {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  background:#e5eCf9;
  border:1px solid #000; 
}

