<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="PHELIX shot database" />
  <meta name="keywords" content="PHELIX,Laser,GSI" />
  <meta name="author" content="Udo Eisenbarth" />
  <meta name="distribution" content="intranet" />
  <meta name="copyright" content="2011© GSI Helmholtzzentrum für Schwerionenforschung" />
</head>
<body style="font-family:Verdana,Arial,sans-serif">
  <div class="container">
     <%= yield %>
     <p>
       <strong>Note:</strong> Do not reply to this email! The address is not set up for receiving emails. Any reply will thus be discarded.
     </p>
     <footer class="quiet">PSDB ( version <%= APP_VERSION %>)
  </div>
</body>
